fastapi
uvicorn[standard]

SQLAlchemy
alembic

asyncpg
psycopg[binary]

pydantic-settings
email-validator
python-dotenv

passlib[bcrypt]
argon2-cffi
python-jose

python-multipart

redis
redis[hiredis]

slowapi
sentry-sdk